In [3]:
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd

In [4]:
executable_path = {"executable_path": "./chromedriver.exe"}
browser = Browser("chrome", **executable_path)

In [5]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [7]:
# Retrieve page with the requests module
html = browser.html
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(html, 'html.parser')
slide_element = soup.select_one("ul.item_list li.slide")

In [8]:
# Scrape the NASA Mars News Site and collect the latest News Title
news_title = slide_element.find("div", class_="content_title").get_text()
print(news_title)

NASA's Briefcase-Size MarCO Satellite Picks Up Honors

In [9]:
# Scrapethe NASA Mars News Site and collect the Paragraph Text
paragraph_text = slide_element.find("div", class_="article_teaser_body").get_text()
print(paragraph_text)

The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.

In [14]:
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd

In [15]:
# Set Executable Path & Initialize Chrome Browser
executable_path = {"executable_path": "./chromedriver.exe"}
browser = Browser("chrome", **executable_path)

In [16]:
# Enter the JPL Featured Space to be scraped
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [17]:
# Find the image URL for the current Featured Mars Image 
# Click on the Feautured Mars Image
full_image_button = browser.find_by_id("full_image")
full_image_button.click()

In [18]:
# Click on "More Info" Button
browser.is_element_present_by_text("more info", wait_time=1)
moreinfo_element = browser.find_link_by_partial_text("more info")
moreinfo_element.click()

In [19]:
# Parse Results HTML with BeautifulSoup
html = browser.html
image_soup = BeautifulSoup(html, "html.parser")

In [21]:
# Obtain base URL
img_url = image_soup.select_one("figure.lede a img").get("src")
img_url

'/spaceimages/images/largesize/PIA16239_hires.jpg'

In [22]:
# Find the image url for the current Featured Mars Image 
featured_image_url = f"https://www.jpl.nasa.gov{img_url}"
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16239_hires.jpg

In [23]:
# Set Executable Path & Initialize Chrome Browser
executable_path = {"executable_path": "./chromedriver.exe"}
browser = Browser("chrome", **executable_path)

In [25]:
#Enter the Mars Weather twitter to be scraped
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

In [26]:
# Parse Results HTML with BeautifulSoup
html = browser.html
weather_soup = BeautifulSoup(html, "html.parser")

In [28]:
# Scrape the latest Mars weather Tweet from the page. 
# Find Tweet with the latest Mars weather
mars_weather_tweet = weather_soup.find("div", attrs= {
                                           "class": "tweet", 
                                            "data-name": "Mars Weather"
                                        })

In [29]:
# Search Within Tweet for <p> to obtain the Tweet Text
mars_weather = mars_weather_tweet.find("p", "tweet-text").get_text()
print(mars_weather)

InSight sol 361 (2019-12-02) low -98.2ºC (-144.7ºF) high -21.2ºC (-6.2ºF)
winds from the SSW at 4.9 m/s (11.0 mph) gusting to 18.9 m/s (42.3 mph)
pressure at 6.70 hPapic.twitter.com/KaXCpm5qeV

In [30]:
# Visit the Mars Facts Site Using Pandas
mars_df = pd.read_html("https://space-facts.com/mars/")[0]
print(mars_df)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [31]:
# Convert the data to a HTML table string.
mars_df.columns=["Description", "Value"]
mars_df.set_index("Description", inplace=True)
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [37]:
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd

In [38]:
# Set Executable Path & Initialize Chrome Browser
executable_path = {"executable_path": "./chromedriver.exe"}
browser = Browser("chrome", **executable_path)

In [39]:
# Enter the Mars Hemisphere site to be scraped
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [40]:
img_url = []

# Get a List of All the Hemispheres Links
links = browser.find_by_css("a.product-item h3")
for item in range(len(links)):
    hemisphere = {}
    
# Iterate through each Hemisphere
    browser.find_by_css("a.product-item h3")[item].click()
    
# Find the Image URL string for the full resolution hemisphere image
    sample_element = browser.find_link_by_text("Sample").first
    hemisphere["img_url"] = sample_element["href"]
    
# Get Hemisphere Title containing the hemisphere name
    hemisphere["title"] = browser.find_by_css("h2.title").text
    
# Append Hemisphere Object to Python dictionary
    img_url.append(hemisphere)
    
# Navigate Backwards
    browser.back()

In [41]:
# Show list that contains one dictionary for each hemisphere
img_url

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]